<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">จังหวัด{{provinceName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-user-astronaut"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">ผู้ป่วยสะสม</span>
            <span class="info-box-number">
              {{data.length | number}}
              <small>ราย</small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-male"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">ชาย</span>
            <span class="info-box-number">
              {{male | number}}
              <small>ราย</small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-female"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">หญิง</span>
            <span class="info-box-number">
              {{female | number}}
              <small>ราย</small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-house-user"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">คนไทย</span>
            <span class="info-box-number">
              {{thai | number}}
              <small>ราย</small>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-chart-pie mr-1"></i>
          ผู้ป่วยที่ได้รับการยืนยัน
        </h3>
        <div class="card-tools">
          <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#mdlTab1" data-toggle="tab">ยอดผู้ป่วยสะสม</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#mdlTab2" data-toggle="tab">รายละเอียด</a>
            </li>
          </ul>
        </div>
      </div><!-- /.card-header -->
      <div class="card-body">

        <div class="tab-content p-0">
          <div class="tab-pane active" id="mdlTab1">
            <div>
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
              </canvas>

            </div>
          </div>
          <div class="tab-pane" id="mdlTab2">
            <div class="row">
              <div class="col-md-4"
                *ngFor="let item of data | paginate: { itemsPerPage: 9, currentPage: pagePatient, id: 'pPatient' }">

                <div class="callout callout-info">
                  <h5>ลำดับที่ {{item.No | number}}</h5>

                  <p>
                    วันที่ยืนยัน {{item.thConfirmDate}} <br>
                    สัญชาติ: {{item.Nation || '-'}}, เพศ​: {{item.Gender}}, อายุ: {{item.Age}} ปี <br>
                    อำเภอ/เขต: <span class="badge badge-warning">{{item.District || '-'}}</span>

                  </p>
                </div>
              </div>
            </div>

            <div class="text-center">
              <pagination-controls id="pPatient" previousLabel="กลับ" nextLabel="ถัดไป"
                (pageChange)="pagePatient = $event">
              </pagination-controls>
            </div>

          </div>
        </div>
      </div><!-- /.card-body -->
    </div>


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('')">ปิดหน้าต่าง</button>
  </div>

</ng-template>
